:root {
	--pixelBorder: 1px solid #dadde18f;
	--userIconSize: calc(0.4 * 1rem);
}

/* body>div:last-of-type:has(a) {
	transform: scale(0) !important;
	visibility: hidden !important;
	position: absolute !important;
	pointer-events: none !important;
} */

* {
	padding: 0;
	margin: 0;
	border: 0;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button,
.btn {
	border: 1px solid #ccc;

	cursor: pointer;
	text-align: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: background 300ms ease-in-out;

	>img {
		height: 1.05rem;
		padding-right: 0.25rem;
		transform: translateY(20%);
	}
}

.dispHidden {
	display: none !important;
}

.opacityHidden {
	opacity: 0 !important;
}


#errorContainer,
.error {
	/* background: ; */
	color: rgb(217, 48, 37);

	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 0.75rem;

	&::before {
		background-color: rgb(217, 48, 37);
		color: white;

		content: '!';
		padding: 0.125em;
		font-family: Carlito;
		font-size: 0.8em;
		margin-right: 0.25rem;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
		text-align: center;
	}
}

.vertMargins {
	margin: 8px 0 8px 0;
}

.horizMargins {
	margin: 0 8px 0 8px;
}

.hrule {
	border-bottom: var(--pixelBorder);
}

.vrule {
	border-left: var(--pixelBorder);
}

.flexCentered {
	display: flex;
	position: relative;
	/* flex-direction:row; */
	justify-content: center;
	align-items: center;
}

.maxViewPort {
	min-width: min(100svw, 100vw);
	min-height: min(100svh, 100vh);
}

.greyBg {
	background-color: #f4f4f4;
}

.flexItem:not(.occupyMin) {
	flex: 1 1 auto;
}

/* 
.flexItem:is(.occupyMin) {
	flex: 1%;
} */

.flexItem+.flexItem {
	border-left: var(--pixelBorder);
}

.container {
	display: block;
	margin: 20px 0;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	min-width: 300px;
}

.signUpContainer {
	width: clamp(300px, 50%, 500px);
}

.container form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

:is(div) h2 {
	text-align: center;
}

.container form input,
.container form select {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	cursor: pointer;
}

/*#region Button properties*/

.blueBtn,
.greenBtn,
.registerBtn {
	font-size: large;
	font-weight: bolder;
	color: #fff;
}

.blueBtn {
	background-color: #007bff;
}

.greenBtn {
	background-color: #42b72a;
}

.registerBtn {
	font-size: small;
	width: 100%;
	border: 1px solid #555;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: #5a7096;
}

.blueBtn:hover {
	background-color: #0056b3;
}

.greenBtn:hover,
.registerBtn:hover {
	background-color: #36a420;
}

/*#endregion*/

/*#region Overlay for Login */
#overlay {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	>.overlayContent {
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		padding: 16px;
		transform: translate(-50%, -50%);
		min-width: 240px;
		border-radius: 8px;
		background-color: #dbd3d3;

		>span:has(a) {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			margin-top: 1rem;
			gap: 2rem;
			justify-content: center;
		}

		>span>a.registerBtn {
			margin: unset;
			width: auto;
			text-decoration: none;
			border-radius: 0.5rem;
		}
	}

	>.overlayContent>.closeBtn {
		position: absolute;
		top: 0;
		right: 0.5rem;
		cursor: pointer;
		font-size: 1.25rem;
		color: #555;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: #555555ac;
		}
	}
}

/*#endregion*/