:root {
	--pixelBorder: 1px solid #dadde1;
	--userIconSize: calc(0.4 * 1rem);
}

body>div:last-of-type:has(a) {
	transform: scale(0) !important;
	visibility: hidden !important;
	position: absolute !important;
	pointer-events: none !important;
}

:is(body, html, h1, h2, h3, h4, h5, h6) {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica, Arial, sans-serif;
}

button {
	cursor: pointer;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #ccc;
	transition: background-color 0.3s ease-in-out;
}

.vertMargins {
	margin: 8px 0 8px 0;
}

.horizMargins {
	margin: 0 8px 0 8px;
}

.hrule {
	border-bottom: var(--pixelBorder);
}

.vrule {
	border-left: var(--pixelBorder);
}

.flexCentered {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.maxViewPort {
	min-width: min(100svw, 100vw);
	min-height: min(100svh, 100vh);
}

.greyBg {
	background-color: #f4f4f4;
}

.navBar {
	padding: 0%;
	background-color: #788575;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
	z-index: 1;
}

.flexItem:not(.occupyMin) {
	flex: 1 1 auto;
}

/* 
.flexItem:is(.occupyMin) {
	flex: 1%;
} */

.flexItem+.flexItem {
	border-left: var(--pixelBorder);
}

.container {
	display: block;
	margin: 20px 0;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	min-width: 300px;
}

.signUpContainer {
	width: clamp(300px, 50%, 500px);
}

.container form {
	display: flex;
	flex-direction: column;
}

:is(div) h2 {
	text-align: center;
}

.container form input,
.container form select {
	margin-bottom: 16px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
}

.container form input[type='submit'] {
	margin: 0px 0px 16px 0px;
}

/*#region Button properties*/

.blueBtn,
.greenBtn,
.registerBtn {
	margin: 4px;
	padding: 8px;
	font-size: large;
	font-weight: bolder;
	color: #fff;
}

.blueBtn {
	background-color: #007bff;
}

.greenBtn {
	background-color: #42b72a;
}

.registerBtn {
	font-size: small;
	width: 100%;
	border: 1px solid #555;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: #5a7096;
}

.blueBtn:hover {
	background-color: #0056b3;
}

.greenBtn:hover,
.registerBtn:hover {
	background-color: #36a420;
}

/*#endregion*/

/*#region Overlay for Login */
.overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlayContent {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	padding: 16px;
	transform: translate(-50%, -50%);
	min-width: 240px;
	border-radius: 8px;
	background-color: #dbd3d3;
}

.closeBtn {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
	font-size: 20px;
	color: #555;
	transition: color 0.3s ease-in-out;
}

.closeBtn:hover {
	color: #555555ac;
}

.profileOverlay {
	display: none;
	position: relative;
	/* Prfoile Icon has exact square dimension of 8em + 8px*/
	top: calc(calc(var(--userIconSize) * -4) + (-4px));
	right: calc(calc(var(--userIconSize) * 4) + 4px);
	background-color: rgba(0, 0, 0, 0.2);
}

.profileOverlayContent {
	position: absolute;
	text-align: center;
	top: 0%;
	right: 0%;
	padding: 20px;
	width: min-content;
	height: max-content;
	border-radius: 10px;
	background-color: #dbd3d3;
}


/*#endregion*/

#loader {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-right: 5px solid #ee4c4c;
	border-bottom: 5px solid #3498db;
	border-left: 5px solid #ee4c4c;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* #region User Profile Icon */
.userIcon {
	font-size: var(--userIconSize);
	/* float: left; */
	margin: 1em;
	border-radius: 50%;
	border: 1.6px solid skyblue;
	height: 6em;
	width: 6em;
	background: none;
	cursor: pointer;
	padding: 2.4px;
	transition: background-color 0.3s ease;
}

.userIcon::before {
	content: "";
	display: block;
	height: 2em;
	width: 2em;
	background: skyblue;
	position: relative;
	left: 2em;
	top: 0.8em;
	border-radius: 2em;
}

.userIcon::after {
	content: "";
	display: block;
	height: 2em;
	width: 4em;
	background: skyblue;
	position: relative;
	left: 1em;
	top: 1em;
	border-radius: 2em 2em 0 0;
}

.userIcon:hover {
	background: #2691ab;
}

/* #endregion */